#container{
	position: relative;
}

#box{
	width: 20px;
	height: 20px;
	background-color: red;
	position: fixed;
	top: 10px;
	left: 600px;
	border-radius: 50%;	
	
	
}

#box1{
	width: 200px;
	height: 10px;
	background-color: blue;
	position: fixed;
	top: 0px;
	left: 600px;
	border-radius: 25px;
}

#box2{
	width: 200px;
	height: 10px;
	background-color: blueviolet;
	position: fixed;
	bottom: 0px;
	left: 600px;
	border-radius: 25px;
}
